:root {
    --main-text-color: #404040;
    --blue-color: #0DA4DE;
  }
  
  
  *{ margin: 0;padding: 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
  body {
    background:#F7F9FA;
    font-family: 'Poppins', sans-serif; 
    font-size: 16px;
  }
  @font-face {
      font-family: 'Poppins';
      src: url('./static/fonts/Poppins-Regular.eot');
      src: url('./static/fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
          url('./static/fonts/Poppins-Regular.woff2') format('woff2'),
          url('./static/fonts/Poppins-Regular.woff') format('woff'),
          url('./static/fonts/Poppins-Regular.ttf') format('truetype'),
          url('./static/fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
      font-weight: normal;
      font-style: normal;
  }
  @font-face {
      font-family: 'Poppins';
      src: url('./static/fonts/Poppins-SemiBold.eot');
      src: url('./static/fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
          url('./static/fonts/Poppins-SemiBold.woff2') format('woff2'),
          url('./static/fonts/Poppins-SemiBold.woff') format('woff'),
          url('./static/fonts/Poppins-SemiBold.ttf') format('truetype'),
          url('./static/fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
      font-weight: 600;
      font-style: normal;
  }
  a:hover{                     
    text-decoration: none;
    opacity: 0.8;
  }
  input.form-control::-webkit-input-placeholder { /* Edge */
    color: #9e9e9e;
    font-weight: 500;
  }
  input.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #9e9e9e;
    font-weight: 500;
  }
  input.form-control::placeholder {
    color: #9e9e9e;
    font-weight: 500;
  }
  p{
    font-size: 16px;
    color: var(--main-text-color);
  }
  label{
    font-size: 16px;  
  }
  a{
    color: var(--blue-color)
  }
  img {
    max-width: 100%;
  }
  div.row {
    margin: 0;
  }
  .base-btn {
    border-radius: 0;
  }
  .form-group {
    position: relative;
  }
  /*Login*/
  .logbox form {
    max-width: 500px;
    width: 100%;
    margin: 10% auto 15px;
    padding: 0 15px;
  }
  .logbox h1 {
    text-align: left;
    font-size: 175%;
    color: var(--main-text-color);
    font-weight: 600;
  }
  .logbox p{
    margin: 10px 0 45px 0
  }
  .logbox .btn-success{
    transition: 0.5s;
    background: var(--blue-color);
    border: solid 1px var(--blue-color);
    border-radius: 0px
  }
  .custom-control-input:checked~.custom-control-label::before {
    border-color: var(--blue-color);
    background-color: var(--blue-color); 
  }
  .logbox .btn-success:hover, .logbox .btn-success:focus{
    background: var(--main-text-color);
    border-color: var(--blue-color);
    color: #fff;
    transition: all 0.4s;
    box-shadow: 0 5px 10px rgba(13, 164, 222, 0.35);
  }
  .input-group-addon {
    background: none;
    border: none;
    position: absolute;
    z-index: 9;
    transform: translateY(50%);
    left: 10px;
  }
  
  input.form-control, select.custom-select, div.custom-select {
    height: 50px;
    border-radius: 4px !important;
    padding: 0px 0 0 45px;
    border: solid 2px var(--blue-color);
  }
  .logbox .tf_forgot{
    font-weight: 500;
    color: var(--blue-color);
    text-decoration: underline;
  }
  .logbox .custom-control-label {
    font-weight: 500;
  }
  
  header .navbar-brand{
    font-size: 28px;
    font-weight: bold;
    padding: 0px 0;
    height: auto;
    color: var(--main-text-color)
  }
  header nav{
    background: #fff;
    width: 100%;
    min-height: auto;
    margin: 0;
    padding: 10px 0;    
    box-shadow: 0px 0px 5px rgba(13, 164, 222, 0.2);
  }
  header .navbar-brand > img {
    display: initial;
    width: 60px;
    margin: 0 25px;
  }
  .nopad{
    padding: 0
  }
  
  .tf_login-right img{
    height: 100vh;
    object-fit: cover;
    width: 100%
  }
  
  
  /*signup*/
  aside {
    min-height: calc(100vh - 150px);
  }
  .sign-up-sec, .complete-accout-section {
    background: #fff;
    padding: 15px 0;
    margin: 10% 0;
    box-shadow: 0px 0px 5px rgba(13, 164, 222, 0.2);
  }
  .sign-up-sec form, .complete-accout-section form {
    padding: 15px;
  }
  .sign-up-sec .input-group {
    margin: 0 0 15px 0;
  }
  .sign-up-sec h4 {
    color: var(--main-text-color);
    margin : 20px 0;
  } 
  button.get-started-btn {
    background: var(--blue-color);
    border: 2px solid var(--blue-color);
    color: #fff;
    border-radius: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    font-weight: 500;
    padding: 10px 0;
  }
  button.get-started-btn:hover, button.get-started-btn:focus {
    background: #fff;
    box-shadow: 0px 8px 13px -4px rgba(13, 164, 222, 0.2);
    color:  var(--blue-color);
  }
  .already-account {
    position: relative;
    border-bottom: 1px solid #cdecf8;
    margin: 30px 0;
  }
  .already-account span {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 12px;
    display: block;
    max-width: 180px;
    transform: translateY(-50%);
    background: #fff;
    padding: 0 0px;
    text-align: center;
  }
  .log-in-btn {
    background: #fff;
    border: 2px solid var(--blue-color);
    color: var(--blue-color);
    border-radius: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    font-weight: 500;
    padding: 10px 4px;
    margin: 0px 0 20px 0;
  }
  .log-in-btn:hover, .log-in-btn:focus {
    background: var(--blue-color);
    color: #fff;
    box-shadow: 0px 8px 13px -4px rgba(13, 164, 222, 0.2);
  }
  
  /*footer*/
  footer {
    background: var(--main-text-color);
    padding: 15px;
    text-align: center;
  }
  footer p {
    color: #fff;
    margin: 0;
  }
  footer a {
    color: #999999;
    font-size: 14px;
  }
  footer a:hover {
    color: #fff;
  }
  
  
  /*complete account page*/
  .complete-accout-section h4 {
    font-weight: 400;
  }
  .complete-accout-section p {
    margin: 25px 0;
    font-size: 14px;
  }
  .complete-accout-section .form-group {
    margin: 0 0 25px 0;
  }
  .form-group .input-group-addon img {
    width: 20px;
  }
  .i-want-to {
    padding: 0 15px;
  }
  .i-want-to h5 {
    font-size: 16px;
    font-weight: 600;
    color: var(--main-text-color);
    margin: 0 0 30px 0;
  }
  .i-want-to .nav-item {
    width: 50%;
  }
  .i-want-to .nav-link {
    background: #fff;
    border: 2px solid var(--blue-color);
    border-radius: 0;
    box-shadow: 0px 3px 8px rgba(13, 164, 222, 0.2);
    text-align: center;
    padding: 8px 4px;
    width: 100%;
    font-size: 14px;
  }
  .i-want-to .nav-link.active {
    background: var(--blue-color);
    box-shadow: none;
  }
  .i-want-to .custom-control {
    margin: 10% 0;
  }
  .i-want-to .custom-control, .i-want-to .custom-control-label {
    font-size: 14px;
  }
  .i-want-to .custom-control-label::before {
    margin: 0 10px 0 0px;  
  }
  .i-want-to .custom-checkbox .custom-control-label::before {
    border-radius: 2px;
  }
  .i-want-to #myTab {
    margin: 0 0 30px 0;
  }
  .complete-accout-section button.get-started-btn {
    margin: 0 0 15px;
  }
  .i-want-to .down-arrow {
    background: #fff;
    position: absolute;
    right: 8px;
    transform: translateY(70%);
    width: 20px;
  }
  .complete-accout-section .css-yk16xz-control, 
  .complete-accout-section .css-yk16xz-control:focus, 
  .complete-accout-section .css-1pahdxg-control:hover {
    border: none;
    outline: none;
    box-shadow: none;
    height: 100%;
  }
  .complete-accout-section .css-1g48xl4-IndicatorsContainer {
      display: none;
  }

/* ----------------- Confirm your email css start ----------------- */
.confirm-your-mail {
  margin: 5% 0;
}
.product-logo {
  display: block;
  margin: 0px auto 3rem;
  width: 70px;
}
.page-head {
  font-size: 1.6rem;
  color: var(--blue-color);
  margin: 4% 0;
}
.page-head + span {
  font-size: 14px;
  display: block;
  word-break: break-all;
}
.click-here {
  text-decoration: underline;
}
.top-companies p {
  color: #a4a5a5;
  margin: 10% 0 2rem;
}
.top-companies ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.top-companies li img {
  width: 80px;
  margin: 0 15px 0 0;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
/* ----------------- Confirm your email css end ----------------- */